.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.footer__column-link:hover {
  opacity: 0.5;
}
