.feynman {
  background: #f2f2f2 url("../../images/feynman.png") no-repeat;
  background-size: 867px 637px;
  background-position: bottom 0px left 0px;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
